* {
  box-sizing: border-box;
  font-family: 'Commissioner', sans-serif;
  font-family: 'Merriweather', serif;

}

body {
  margin: 0px;
}

.homepage {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.cover {
  height: 50vh;
  width: 100vw;

  background-image: url("https://images.unsplash.com/photo-1611689102192-1f6e0e52df0a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1533&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#doctors {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

header {
  background-color: #fff9ff;
  color: maroon;
  text-align: center;
  padding: 10px;
}

footer {
  background-color: #fff9ff;
  text-align: center;
  padding: 10px;
}

h1 {
  background-color: #fff9ff;
}

.mainbuttons {
  text-align: center;

  word-spacing: 100px;
}

.searchbar {
  width: 40vw;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;

  border-radius: 10px;

  box-shadow: 4px 4px 30px #1e81b0;
}

.Form1 {
  background: white;

  width: 100%;
  height: 60px;

  display: flex;
  border-radius: 10px;
}

.Form1 input {
  flex: 1;

  border-color: azure;
  outline: none;

  padding-left: 36px;

  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.Form1 i {
  font-size: 16px;
}

.Form1 button {
  background: #1e81b0;
  color: white;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}

.fa-magnifying-glass {
  align-self: center;

  position: absolute;
  flex: 1;

  color: #1e81b0;

  padding: 0px;

  margin-left: 10px;

  font-size: small;
}

#Doctorbutton,
#Appointmentsbutton,
#Healthnuggetsbutton {
  font-size: 15px;
  background-color: #1e81b0;
  width: 180px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  border: none;
}

#Doctorcards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 10px;
  justify-content: center;
}

#Doctorcards div {
  border: 1px solid lightgray;
  border-radius: 16px;

  background-color: white;

  display: flex;
  flex-direction: column;
  padding: 20px;
}

#Doctorcards img {
  width: 200px;

  background-color: white;
}

#Doctorcards p {
  background-color: white;

  color: maroon;

  padding: 2px;

  font-size: 14px;

  line-height: 25px;
}

#Doctorcards button {
  background-color: white;
  color: maroon;

  padding: 2px;

  border: none;

  cursor: pointer;
}

#Doctorcards h4 {
  background-color: white;

  color: maroon;

  padding: 2px;

  border: none;
}

#list-of-appointments {

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

}

.form-field {
  width: 100%;

  padding: 10px;

  display: flex;
  flex-direction: column;
}

.form-field input {
  height: 30px;
  width: 100%;

  padding: 3px;

  border: solid 1px;
  border-color: lightgray;
}

.salutation {
  width: 100%;

  padding: 10px;

  background-color: #1e81b0;
  color: white;

  border-radius: 5px;

  font-size: 14px;


}

.appointments {

  row-gap: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;

}

.my-appointments {
  border: 1px solid lightgray;
  border-radius: 16px;

  background-color: white;

  display: flex;
  flex-direction: column;
  padding: 20px;

  row-gap: 10px;


}

.my-appointments h4,
li {
  color: maroon;

  border: none;

}

.edit-delete-btn {

  display: flex;
  flex-direction: row;

  column-gap: 20px;


}


#delete-appointment,
#edit-appointment {
  font-size: 12px;

  background-color: #1e81b0;

  width: 160px;

  border-radius: 5px;
  padding: 6px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  border: none;

  margin-top: 10px;
}

#list-of-appointments h4 {
  font-size: larger;
}


#list-of-appointments li {
  text-decoration: none;

  line-height: 25px;

  font-size: 14px;

  list-style-type: none;
}

.healthNuggets {

  display: flex;
  flex-wrap: wrap;

  column-gap: 15px;
  row-gap: 10px;

  justify-content: center;

  padding: 20px;



}

.blog1 {

  padding: 15px;
  width: 500px;

  border: solid 1px lightgray;
  border-radius: 16px;

  box-shadow: 5px 5px 5px #1e81b0;

  display: flex;

  justify-content: center;


  flex-direction: column;
  color: maroon;




}

.blog1 h2 {
  width: 100%;
}

.blog1 h3 {
  width: 100%;
}

.blog1 p {
  width: 100%;
}

.blog1 ul {
  width: 100%;
}

.blog1 a {
  background-color: #1e81b0;
  color: white;

  padding: 10px;

  border-radius: 10px;

  cursor: pointer;


}

.invisible {
  display: none;
}

.visible {
  display: flex;
}